<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeo.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="sensorLandscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Normal_version_menu.Menu_alphabet"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Tutorial"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.Braille_short_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_basic_practice"
            android:label=" "
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_master_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_word"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.Braille_long_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_word"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.reading_short_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.reading_long_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_quiz.quiz_reading_manual"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Mynote"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Mynote_basic"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Mynote_master"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_reading"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_writing"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_quiz.quiz_writing_manual"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.writing_short_practice2"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.writing_short_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.writing_long_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_abbreviation_word"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_abbreviation_head"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_abbreviation_ending"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_abbreviation_head"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_abbreviation_ending"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_alphabet"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_number"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_sentence"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_abbreviation_word"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Braille_translation"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Communication"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_communication_teacher"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_communication_student"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_number"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Sentence"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.teacher_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_Display_Practice.student_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Mynote_communication"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_tutorial"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_master_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_translation"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_quiz"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_mynote"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_communication"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_practice"
            android:label=""
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_practice_basic"
            android:label=""
            android:screenOrientation="sensorLandscape" />

        <service
            android:name=".Common_sound.Number"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>